/* no caso das cores as trocas seriam feitas de seguinte forma para cada caso de daltonismo, separei em grupos '[]' 
onde o primeiro elemento é o presente no código, o segundo o equivalente na paleta verde e o terceiro na paleta vermelha
[#604FA3;#7AFF78;#D95276];
[#A069DE;#78B536;#FF705D];
[#BBAEEB;#B4FAB1;#F2ACBF];
[#48428A;#2B8A28;#F20505];
[#7A88B8;#87D150;#73142D];
*/

body{
	font-family:'Rufina', serif,'Literata', serif;
}
header{
	font-family: 'Sawarabi Mincho', sans-serif,'Oswald', sans-serif ;
}
a{
	text-decoration:none; 
	
	padding: 0.3rem;
	color: #48428A;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1rem solid #7A88B8 ;
	border-radius: 1rem;
	font-size: 4.5vw;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 1em;
	margin-left: 1em;
}
.titulos {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #604FA3;
}
h1{
	font-size: 8vw;
}
h2{
	font-size: 7vw;
}
h3{
	font-size: 6vw;
}
img{
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 30%; 
	height: 30%;
}
.voltartudo{
	text-decoration:none; 
	border: 0rem solid black ;
	padding: 0rem;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0rem;
}
p{
	text-align: center;
	font-size: 4.5vw;
	color: #604FA3;
	margin-right: 1em;
	margin-left: 1em;
}
audio{
	width: 75%;
	height: 10vw;
	font-size: 4.5vw;
}
.fala {
	display: flex;
	justify-content: center;
	align-items: center ;
	font-size: 4.5vw;
}
.numero{
	color: #48428A;
	font-size: 4.5vw;
}
footer{
	text-align: center;
	font-size: 4.5vw;
	color: #BBAEEB;
	margin-right: 1em;
	margin-left: 1em;
}
input{
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	position: relative;
	margin: auto;
	padding: 0%;
	width: 75%;
	font-size: 4.5vw;
}
label{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.5vw;
	color: #A069DE;
}
input{
	color: #A069DE;
}